.site-footer {
  background: var(--color-primary-700);
  color: var(--color-neutral-50);
  padding: var(--space-3);
  text-align: center;
}

.site-footer a {
  color: var(--color-secondary-100);
  margin: 0 var(--space-1);
  font-weight: bold;
  transition: 0.3s;
}

.site-footer a:hover {
  color: var(--color-secondary-500);
}
